server {
    listen 8080;
    server_name localhost;

    location / {
        allow_methods GET HEAD;
        root ~;
        autoindex on;
    }
}

server {
    listen 8080;
    server_name 127.0.0.1;

    location / {
        allow_methods GET;
        return 302 https://google.com;
    }
}

server {
    listen 8080;
    server_name example.com;
    default_server;

    location / {
        allow_methods GET;
        return 302 https://youtube.com;
    }
}

server {
    listen 3000;
    server_name localhost;

    location / {
        allow_methods GET;
        root .;
        autoindex off;
    }
}