@charset "utf-8";

body {
	background-color: darkslateblue;
}

.maindiv {
	font-family: Garamond, serif;
	text-align: center;
	margin: auto;
}

.title {
	color: orange;
}

body.error-page {
	background-color: white;
	text-align: center;
	margin: auto;
}

.buttons {
    margin-top: 20px;
	display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
